// ------------------------------------------------------------
// _banner.scss
// ------------------------------------------------------------

.banner {
  background: rgba(185, 167, 255, 0.25);
  border: 1px solid $ui-lila-border;
  border-radius: $radius;
  padding: 10px 12px;
  margin: 12px 0 16px 0;
}
